
.nav {
    background-color: #3f51b5;
    padding: 8px 16px;
    color: White;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    display: flex;
}
.nav .left button {
    margin-left: 15px;
    font-size: 19px;
}
.nav .right {
    position: absolute;
    right: 10px;
}
mat-menu button {
    font-size: 18px;
}