<div class="row-title">
    <h2><i class="material-icons">library_add</i>Enregistrer un nouveau livre</h2>
</div>
<button mat-raised-button class="btn-back" (click)="onBack()">Retour</button>
<div class="row-content">
  <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="title" placeholder="Titre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="author" placeholder="Auteur">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="synopsis" placeholder="Résumé"></textarea>
    </mat-form-field>
    <h3>Ajputer une photo</h3>
    <input type="file" (change)="detectFiles($event)" accept="image/*">
    <p *ngIf="fileUploaded">Fichier chargé !</p>

    <button mat-raised-button color="primary" [disabled]="bookForm.invalid || fileIsUploading" type="submit">Enregistrer</button>
  </form>
</div>
