
<div class="row-title">
  <h2><i class="material-icons">book</i>Vos Livres</h2>
</div>
<div class="row-content">
  <div class="my-book">
    <button mat-stroked-button *ngFor="let book of books; let i = index" (click)="onViewBook(i)">
      <h3>
        {{ book.title }}
        <button mat-raised-button color="warn" (click)="onDeleteBook(book)">
          <span><i class="material-icons">delete_forever</i></span>
        </button>
      </h3>
      <p>{{ book.author }}</p>
    </button>
  </div>
  <button mat-raised-button color="primary" (click)="onNewBook()">Nouveau livre</button>
</div>